In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date
import datetime as dt
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

In [2]:
off_train = pd.read_csv('../data/memory_sample_address_log_round1_a_test.csv', keep_default_na=True)
off_train

,serial_number,memory,rankid,bankid,row,col,collect_time,manufacturer,vendor
0,server_37258,10,0,2,65187,168,2019-06-01 20:40:14,2.0,0.0
1,server_9939,2,0,2,90090,312,2019-06-01 02:45:04,1.0,0.0
2,server_30636,18,0,13,37421,568,2019-06-01 01:23:34,0.0,0.0
3,server_30771,4,1,0,112597,504,2019-06-01 08:01:14,1.0,0.0
4,server_121,4,0,11,33720,56,2019-06-01 19:32:06,1.0,0.0
...,...,...,...,...,...,...,...,...,...
5581331,server_18486,-1,-1,-1,-1,-1,2019-06-28 05:49:06,1.0,0.0
5581332,server_10191,-1,-1,-1,-1,-1,2019-06-28 16:42:57,2.0,2.0
5581333,server_18486,-1,-1,-1,-1,-1,2019-06-29 03:42:21,1.0,0.0
5581334,server_18486,-1,-1,-1,-1,-1,2019-06-30 16:04:32,1.0,0.0
5581335,server_18486,-1,-1,-1,-1,-1,2019-06-29 23:10:18,1.0,0.0

In [ ]:
memory_sample_address_log_round1_a_test.csv
memory_sample_address_log_round1_a_train.csv
memory_sample_failure_tag_round1_a_train.csv
memory_sample_kernel_log_round1_a_test.csv
memory_sample_kernel_log_round1_a_train.csv
memory_sample_mce_log_round1_a_test.csv
memory_sample_mce_log_round1_a_train.csv